﻿@model MVC5DesdeCeroMS.Models.Album

<p>
    ¡Oferta del día!
</p>
<div id="album-details">
    <p>
        <em>Artista:</em>
        @Model.Artist.Name
    </p>
    <p>
        <em>Precio:</em>
        @String.Format("{0:F}", Model.Price)
    </p>
    <p class="button">
        @Html.ActionLink("Agrega al carro", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, "")
    </p>
</div>

