﻿
@{
    ViewBag.Title = "BuscaPorFecha";
    var agno = ViewBag.Agno;
    var mes = ViewBag.Mes;
    var dia = ViewBag.Dia;
}

<h2>BuscaPorFecha</h2>

Año = @agno
<br />
Mes = @mes
<br />
Día = @dia


