﻿<div class="panel panel-default">
    <div class="panel-heading">Búsqueda de artista</div>
    <div class="panel-body">
        @*@using (Ajax.BeginForm("BuscarArtista", "StoreManager",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "searchFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "searchresults",
        }))
        {
            <input type="text" name="q" data-autocomplete-source="@Url.Action("BuscarArtistaAuto", "StoreManager")" />
            <input type="submit" value="Buscar" />
            <img id="ajax-loader"
                 src="@Url.Content("~/Images/ajax-loader.gif")"
                 style="display:none" />
        }*@

        <form id="artistSearch" method="get" action="@Url.Action("BuscarArtista", "StoreManager")">
            <input type="text" name="q" data-autocomplete-source="@Url.Action("BuscarArtistaAuto", "StoreManager")" />
            <input type="submit" value="search" />
            <img id="ajax-loader" src="~/Images/ajax-loader.gif" style="display:none" />
        </form>

        <br />
        <script id="artistTemplate" type="text/html">
            <ul>
            {{#artistas}}
                <li><i>{{Name}} - {{Edad}} años</i></li>
            {{/artistas}}
            </ul>
        </script>

        <div id="searchresults"></div>
    </div>
</div>

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    <script src="~/Scripts/App/Utils.js"></script>
    <script src="~/Scripts/App/Musica.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
