﻿@model IEnumerable<MVC5DesdeCeroMS.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido</h2>

<div id="fecha-hora"></div>
<br />

<p>
    @Html.ActionLink("Nuevo Álbum", "Create") |
    @Html.ActionLink("Crear Scaffolding", "Create", "Order") |
    @Html.ActionLink("Buscar (obsoleto)", "Search", "Home") |
    @Html.ActionLink("Buscar (Ajax)", "Buscar", "StoreManager") |
    @Html.ActionLink("Contacto", "Contact", "Home")
</p>

<table class="table" id="album-list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImgCaraturla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumArtUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Images/@item.ImgCaraturla" width="18px" height="18px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumArtUrl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlbumId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlbumId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlbumId }, new { @class = "eliminar" })
            </td>
        </tr>
    }

</table>


<div id="box-ofertas">
    @Ajax.ActionLink("¡Clic para ver ofertas!",
            "Ofertas",
            null,
            new AjaxOptions
            {
                UpdateTargetId = "box-ofertas",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            },
            new { @class = "btn btn-primary" }
        )
</div>

<br />
<div id="ayuda"></div>



<!-- Botón que gatilla el modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Clic para ejemplo de Modal
</button>
<!-- Dialogo Modal en sí -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Título del modal
                </h4>
            </div>
            <div class="modal-body">
                Cuerpo del modal, es HTML puedes colocar lo que quieras aquí.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/App/Utils.js"></script>
    <script src="~/Scripts/App/Musica.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}


