﻿
@{
    ViewBag.Title = "Lista discos";
}
<h2>Lista de discos</h2>

<ul>
    <li>Disco 1</li>
    <li>Disco 2</li>
    <li>Disco 3</li>
    <li>Disco 4</li>
    <li>Disco 5</li>
    <li>Disco 6</li>
</ul>

<p>
    @Html.ActionLink("<< Atrás", "ListaPaginada", new { page = 0 })
    @Html.ActionLink("Adelante >>", "ListaPaginada", new { page = 2 })

    <br />
    @Url.RouteUrl(new { controller = "StoreManager", action = "ListaPaginada", page = "777" })
    
</p>

