﻿@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.MiVariable</h2>
    <h1>@ViewBag.Datos</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Fono</h3>
    </header>
</section>
