﻿@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Cliente/Scripts/DiscosModule.js"></script>
    <script src="~/Cliente/Scripts/DiscoService.js"></script>
    <script src="~/Cliente/Scripts/ListaController.js"></script>
    <script src="~/Cliente/Scripts/DetalleController.js"></script>
    <script src="~/Cliente/Scripts/EditarController.js"></script>
}

<br />
<div data-ng-app="DiscosModule">
    <ng-view></ng-view>
</div>