﻿
<h2>Contacto</h2>

<form action="/html/tags/html_form_tag_action.cfm" method="get">
    Nombre:
    <input type="text" name="nombre" value="" maxlength="100" />
    <br />
    Sitio:
    <input type="text" name="sitio" value="" maxlength="100" />
    <br />
    Comentario:
    <textarea rows="4" cols="50" name="mensaje"></textarea>
    <br />
    <input type="submit" value="Enviar" />
</form>