﻿@model IEnumerable<MVC5DesdeCeroMS.Models.Album>
@{ ViewBag.Title = "Busqueda"; }
<h2>Resultado</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <input type="text" name="q" />
    <input type="submit" value="Buscar" />
}

<table>
    <tr>
        <th>Artista</th>
        <th>Género</th>
        <th>Título</th>
        <th>Precio</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Artist.Name</td>
            <td>@item.Genre.Name</td>
            <td>@item.Title</td>
            <td>@String.Format("{0:c}", item.Price)</td>
        </tr>
    }
</table>

<br />
<div>
    @Html.ActionLink("Volver", "Index", "StoreManager")
</div>