﻿
@{
    ViewBag.Titulo = "test";
}


<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Titulo</h1>
            <h3 id="saludo"></h3>
        </hgroup>
    </div>
</section>



@section scripts {
    @if (ViewBag.Nombre != null)
    {
        <script type="text/javascript">
        $(function () {
          var msg = 'Hola, @ViewBag.Nombre';
          $("#saludo").html(msg).hide().show('slow');
        });
        </script>
    }

    @if (ViewBag.Apellido != null)
    {
        <script type="text/javascript">
        $(function () {
          var msg = 'Hola, @Ajax.JavaScriptStringEncode(ViewBag.Apellido)';
            $("#saludo").html(msg).hide().show('slow');
        });
        </script>
    }
}

