﻿<div ng-controller="DetalleController">
    <h2>{{disco.Titulo}}</h2>
    <div>
        Lanzado el: {{disco.AgnoLanzamiento}}
    </div>
    <div>
        Estilo: {{disco.Estilo}}
    </div>
    <br />
    <button ng-click="edit()">Editar</button>
    <div ng-include="'/Cliente/Views/Editar.html'"></div>
    <br />
    <div>
        <a href="#/lista">Volver</a>
    </div>
</div>
