﻿<div ng-controller="EditarController" >
    <form ng-show="isEditable()">
        <fieldset>
            <div class="form-group">
                <label for="title">
                    Título
                </label>
                <input id="title" type="text" ng-model="edit.disco.Titulo" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="release">
                    Año lanzamiento
                </label>
                <input id="release" type="number" ng-model="edit.disco.AgnoLanzamiento" required min="2000" max="2020" class="form-control" />
            </div>
            <div class="form-group">
                <label for="runtime">
                    Estilo
                </label>
                <input id="title" type="text" ng-model="edit.disco.Estilo" required class="form-control" />
            </div>
            <button class="btn btn-default" ng-click="save()">
                Guardar
            </button>
            <button class="btn btn-default" ng-click="cancel()">
                Cancelar
            </button>
        </fieldset>
    </form>
</div>