﻿<div ng-controller="ListaController">
    <table class="table">
        <tr ng-repeat="disco in discos">
            <td>{{disco.Titulo}}</td>
            <td>
                <a class="btn btn-default" href="#/detalle/{{disco.Id}}">
                    Detalles
                </a>
                <button class="btn btn-default" ng-click="delete(disco)">
                    Eliminar
                </button>
            </td>
        </tr>
    </table>
    <button class="btn btn-default" ng-click="create()">Crear</button>    
    <div ng-include="'/Cliente/Views/Editar.html'">
    </div>
</div>
